

.foodie {
  display: grid;
  gap: 20px;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
}

.btnfilter {
  color: #ffffff !important;
  font-size: 12px !important;
  background: #1c1c1c;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  border-radius: 25px;
  width: fit-content;
  height: auto;
  left: 24px;
  top: 149px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
}
.flexcontainer {
  display: flex;
  flex-wrap: nowrap;
  background-color: #8ea739;
}
.sidecontainer {
  color: #ffffff;
  padding-left: 40px;
  margin-top: 12px;
}

.foodT {
  padding: 20px 0 20px 0;
}
.mealT {
  display: flex;
}
.darkT {
  margin-top: 50px;
}
.lunch {
  margin-right: 20px;
}

.lunch,
.dinner {
  border-radius: 50%;
  border: 1px solid #1c1c1c;
  width: 50px;
  height: 50px;
  padding-top: 18px;
  padding-left: 7px;
  color: #5c5c5c;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}
.results {
  margin-left: 10em;
  margin-right: 5em;
}

@media screen and (max-width: 380px) {
  .search {
    height: 30px;
    width: 15em;
    background-color: white;
    border: none;
    size: 12px;
  }

  .flexcontainer {
    display: flex;
    flex-direction: column;
    background-color: #8ea739;
  }
  .results {
    margin-left: 1em;
    margin-right: 0.5em;
  }

  .foodie {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
}
