.food-title {
    font-family: Oleo Script Swash Caps;
    text-align:left;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #1C1C1C;
    margin: 0px 0px 13px 0px;
}

.card-food-describe {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #6A6A6A;
    text-align: left;
    align-self: stretch;
    margin: 5px 0px;
}
.btn-readmore-align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    position: static;
    width: fit-content;
    height: auto;
    left: 24px;
    top: 149px;
    background: #1C1C1C;
    border-radius: 25px;
    margin: 5px 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: #FFFFFF;
}

.white-btn-text {
    color: #FFFFFF !important;
    font-size: 12px !important;
}
.startrate {
    color: #B8D344;
    text-align: left;
} 