.forgot-password {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.forgot-password .container {
  display: flex;
  /* flex-wrap: wrap; */
}

.forgot-password .right_row {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 81px;
}

.forgot-password .right_row input {
  height: 50px;
  width: 488px;
  margin-bottom: 63px;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
}
.forgot-password input::placeholder {
  color: #6a6a6a;
}
.forgot-password .right_row input[type="text"] {
  width: 438px;
  padding: 0 25px;
}
.forgot-password .right_row .title {
  color: #1c1c1c;
  margin: 0;
  width: 488px;
  margin-bottom: 63px;
}
.forgot-password .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.forgot-password .image-container {
  width: 53%;
}

.forgot-password .right_row .button {
  background-color: #1c1c1c;
  color: #ffffff;
  margin-bottom: 38px;
}

.forgot-password .reset-password {
  width: 488px;
  text-align: right;
  margin: 0;
  margin-bottom: 20px;
}

@media only screen and (max-width: 980px) {
  .forgot-password {
    width: 100%;
  }
  .forgot-password .container {
    width: 100%;
    flex-wrap: wrap;
  }

  .forgot-password .right_row {
    padding-left: 0;
    width: 100%;
  }

  .forgot-password .image-container {
    width: 100%;
    height: 450px;
  }
  .forgot-password .right_row input[type="text"] {
    width: calc(80% - 50px);
    margin-bottom: 30px;
  }
  .forgot-password .reset-password {
    width: 100%;
    text-align: center;
  }
  .forgot-password .right_row input {
    width: 80%;
  }
  .forgot-password .right_row .title {
    width: 100%;
  }
  .forgot-password form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
    .forgot-password .image-container {
        height: 300px;
      }
}

@media only screen and (max-width: 330px) {
    .forgot-password .image-container {
        height: 200px;
      }
}
